body {
  background: url(./../assets/images/pexels-fwstudio-172277.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.currency-from-input, .currency-to-input {
  padding: 20px;
}
#convert-from {
  margin: 0 0 20px 0;
}
#output, .show-errors {
  margin: 20px;
  text-align: center;
}